# 리스트

리스트에서 1번째와 8번째 요소를 추출하고 싶을때.

In [5]:
even = [2,4,6,8,10,12,14,16,20]
even[0]

2

In [6]:
even[7]

16

다음과 같이 n번째 요소를 추출하기 위한 연산자를 직접적으로 넣을 수 있다.

In [7]:
ex=[5,99,1,70,856,1224]
h=5
l=2
ex[3+1]

856

In [10]:
ex[h-l]

70

In [11]:
ex[4%3] # 4를 3으로 나눈 나머지를 index로 할 경우

99

+: 여러 개의 list형을 하나의 list형으로 병합하는 연산


*: 주어진 숫자만큼 list형을 반복하는 연산

In [5]:
a=[0,1,2,3]
b=[4,5,6]
c=a+b
c

[0, 1, 2, 3, 4, 5, 6]

In [6]:
num=[1,2,3]
num=num*3
num

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
spell=['k','o','r','e','a']
spell[:2]+spell[3:]

['k', 'o', 'e', 'a']

In [10]:
s=['s','w','e','a','t']
s[3]='e'
s

['s', 'w', 'e', 'e', 't']

In [11]:
s[1:]=['m','i','l','e']
s

['s', 'm', 'i', 'l', 'e']

In [13]:
s[2:]=['e','l','l']
s

['s', 'm', 'e', 'l', 'l']

In [14]:
season=[]
season.append("spring")
season

['spring']

In [15]:
season.append("summer")
season

['spring', 'summer']

In [17]:
season=["spring","summer","fall","winter"]
season.remove("summer")
season

['spring', 'fall', 'winter']

in = list의 원소인가를 확인하는 연산자

In [18]:
"fall" in season

True

리스트에서 특정 항목 찾기

In [19]:
season=["spring","summer","fall","winter"]
season.index("fall")

2

리스트 정렬하기

In [20]:
season=["spring","summer","fall","winter"]
season.sort()
season

['fall', 'spring', 'summer', 'winter']

In [21]:
num=[8,3,4,1,2,6,9,7,5]
num.sort()
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 리스트 조작 함수

append - 리스트 제일 뒤에 항목 추가

pop - 리스트 제일 뒤 항목을 빼고, 뺀 항목을 삭제

sort - 리스트의 항목을 정렬한다

reverse - 리스트 항목의 순서를 역순으로 만든다

index - 지정한 값을 찾아서 그 위치를 반환

insert - 지정된 위치에 값을 삽입

remove - 리스트에서 지정한 값을 삭제

extend - 리스트 위에 리스트를 추가

count - 리스트에서 찾을 값의 개수를 센다

del - 리스트에서 해당 위치의 항목을 삭제

len - 리스트에서 포함된 전체 항목의 개수를 센다

In [22]:
num=[30, 20, 10]
print("현재 리스트: %s" % num)
num.append(40)
print("append(40) 후의 리스트 : %s" % num)
print("pop()으로 추출한 값 : %s" % num.pop())
print("pop() 후의 리스트 : %s" % num)
num.sort()
print("sort() 후의 리스트 : %s" % num)
num.reverse()
print("reverse() 후의 리스트 : %s" % num)
print("30 값의 위치 : %d" % num.index(30))
num.insert(2, 531)
print("insert(2, 531) 후의 리스트 : %s" % num)
num.remove(531)
print("remove(531) 후의 리스트 : %s" % num)
num.extend([40, 50, 60, 50])
print("extend(40, 50, 60, 50) 후의 리스트 : %s" % num)
print("50의 개수 : %d" % num.count(50))

현재 리스트: [30, 20, 10]
append(40) 후의 리스트 : [30, 20, 10, 40]
pop()으로 추출한 값 : 40
pop() 후의 리스트 : [30, 20, 10]
sort() 후의 리스트 : [10, 20, 30]
reverse() 후의 리스트 : [30, 20, 10]
30 값의 위치 : 0
insert(2, 531) 후의 리스트 : [30, 20, 531, 10]
remove(531) 후의 리스트 : [30, 20, 10]
extend(40, 50, 60, 50) 후의 리스트 : [30, 20, 10, 40, 50, 60, 50]
50의 개수 : 2

## Tuple
- 변경 불가능한 선형 자료구조
    - 본질적으로 list와 매우 유사한 구조
        - 순서가 존재
        - list와 구분하기 위해 소괄호 표기

int 타입의 한 원소만 가지고 있을 때 t=(1)으로 적으면 tuple형으로 받지 않음

In [23]:
t=(1)
type(t)

int

In [24]:
t=(1,)
type(t)

tuple

tuple은 slice가 가능하다.

In [26]:
t=('Mon',1,11,'winter')
t[1:3]

(1, 11)

In [27]:
t1=('boy',)
t1[0]

'boy'

tuple은 합병이 가능하다.

In [9]:
t1 = (1, 2, 3, 4)
t2 = ('spring',)
t3 = t1 + t2
t3

(1, 2, 3, 4, 'spring')

tuple은 곱이 가능하다.

In [10]:
print(t1*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [18]:
#string형과 List형으로부터 tuple 생성
str_num = 'one'
list_num = ['one', 'two', 'three']
tuple_list = tuple(list_num)
tuple_str = tuple(str_num)

#tuple 합하기
tu = tuple_list + tuple_str
tu

('one', 'two', 'three', 'o', 'n', 'e')

## Set 형의 생성
- set은 많은 자료를 관리하는데 유용
- set은 집합에 관련된 자료 형
- 리스트와 튜플은 순서를 결정하는 인덱스로 데이터에 접근, 그러나 세트는 항목간에 순서가 없다.
- 순서없는 데이터를 관리할 때 유용
- 데이터의 중복이 없다.
- set은 중복을 제거하기 위한 용도로 사용하기도 한다
- {} 이렇게 생김
- slice 연산은 set에서 사용 불가 -> index구조가 아니기 때문
   
- set 선언 예
    - 동일한 자료형을 원소로 갖는 set
    - 혼용 자료형을 원소로 갖는 set
    - 빈 set
    - 변수로 할당하여 생성
    - list와 tuple을 기반으로 생성가능

In [19]:
# set은 중복을 허용하지 않는다.
num_list = [1, 2, 3, 1, 2, 3]
print(num_list)
num_set = set(num_list)
print(num_set)

[1, 2, 3, 1, 2, 3]
{1, 2, 3}

In [20]:
# set은 집합연산 사용가능 이를 통해 특정원소가 포함되어있는지 확인이 가능하다.
a = {100, 200, 300}
b = {10, 20, 100}
print(a&b) # 교집합
print(a|b) # 합집합
print(a-b) # 차집합

{100}
{100, 20, 200, 10, 300}
{200, 300}

In [21]:
# 특정 원소가 set에 있는지 확인하는 연산:in
s = {'red', 'yellow', 'green', 'black'}
'yellow' in s

True

In [22]:
fruit = {'strawberry', 'banana', 'orange', 'apple'}
print('banana' in fruit)
fruit.remove('apple')
fruit.add('melon')
print(len(fruit))

True
4

In [24]:
team_pro = {1, 2, 3, 4, 5}
late = {2, 1}
absent = {3, 1}
late_absent = late | absent
# 한번도 늦거나 결석하지 않은 사람
bonus = team_pro - late_absent
print(bonus)
# 늦기도하고 결석도 한 사람
overtime = late & absent
print(overtime)

{4, 5}
{1}

## dictionary
- 사전과 비슷한 형식의 자료형
    - 단어를 통해 뜻을 구하는 경우
        - dictionary는 키와 값의 쌍으로 데이터를 저장
        - dictionary의 요소는 한 쌍의 key : value로 표현
        - dictionary는 중괄호를 이용하고 쉼표를 사용해서 분리한다.

In [25]:
#키 값을 찾기 위한 용도로 사용하기 때문에 키 값은 변경 할 수 없는 자료형만 dictionary의 key가 될 수 있음
price = {'떡볶이':'3000원', '김밥':'3000원', '라면':'4000원'}
price

{'떡볶이': '3000원', '김밥': '3000원', '라면': '4000원'}

In [29]:
# 모든 자료형이 사용가능
# dictionary 원소의 value값은 할당문에 의해 변경 
price['떡볶이'] = '2000원'
print(price)
# 사전 항목에 접근하기 위해서 키 값을 사용하면 된다
print(price['김밥'])
# dictionary에 새로운 항목을 추가
price['오므라이스'] = '5000원'
print(price)
# dictionary에 존재하는 원소를 삭제
del price['오므라이스']
print(price)

{'떡볶이': '2000원', '김밥': '3000원', '라면': '4000원'}
3000원
{'떡볶이': '2000원', '김밥': '3000원', '라면': '4000원', '오므라이스': '5000원'}
{'떡볶이': '2000원', '김밥': '3000원', '라면': '4000원'}

In [30]:
# dictionary는 저장되어 있는 키와 값의 목록을 따로 추려낼 수 있다.
information = {'name':'a', 'height':100, 'weight':70}
print(information.keys())
print(information.values())

dict_keys(['name', 'height', 'weight'])
dict_values(['a', 100, 70])

In [32]:
menu = {'americano':'2000원', 'cafe latte':'2500원', 'green tea latte':'3000원', 'mocha latte':'3500원'}
print('americano' in menu.keys()) # True
print('vanila latte' in menu.keys()) # False

True
False

## summary
- tuple( )형은 list\[ \]형의 구조와 사용이 거의 동일하다는 공통점이 있으나, 한 번 생성되면 원소의 변경이 불가능하다는 차이점이 있다.
- set형{}은 집합과 관련된 자료형이다.
- dictionary형은 key value가 한 쌍을 이루는 원소로 이루어진 자료형이다.